In [ ]:
#Assignment 3_Q4.
#TeleCall uses 4 centers around the globe to process customer order forms.
#They audit a certain %  of the customer order forms. Any error in order form renders 
#it defective and has to be reworked before processing.  The manager wants to check
#whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the
#manager draw appropriate inferences

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy.stats import stats 
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [ ]:
#Define Hypothesis

#Null Hypothesis :  defective %  varies by centre


#Alternate Hypothesis:  defective %  not varies by centre

In [4]:
df = pd.read_csv('Costomer+OrderForm.csv')

In [5]:
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [10]:
df['Phillippines'].value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [11]:
df['Indonesia'].value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [12]:
df['Malta'].value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [14]:
df['India'].value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
obs = np.array([[271,267,269,280],[29,33,31,20]])

In [17]:
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [18]:
chi,p,degree_freedom,Expected = chi2_contingency(obs)

In [19]:
chi

3.858960685820355

In [20]:
p

0.2771020991233135

In [21]:
degree_freedom

3

In [22]:
Expected

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [24]:
alfa = 0.05

In [26]:
if p< alfa:
    print('we  reject null hypothesis that is defective %  not varies by centre ')
else:
    print('Failed to reject null hypothesis that is defective %  varies by centre')

Failed to reject null hypothesis that is defective %  varies by centre